MP_ACCESS_TOKEN=
FIREBASE_PROJECT_ID=impressione3d-4cd76

# Prefer one of these Firebase Admin formats:
FIREBASE_SERVICE_ACCOUNT=
FIREBASE_SERVICE_ACCOUNT_BASE64=
FIREBASE_CLIENT_EMAIL=
FIREBASE_PRIVATE_KEY=
